@import "vars";
@import "global";
@import "fonts";

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;

  .header__help {
    margin-right: 50px;
    margin-left: auto;

    .header__help-link {
      color: $red;
    }

  }
}

.header__btn {
  padding: 4px 18px;

  font-size: 12px;

  color: #fff;
  border-radius: 4px;
}

.header__btn--login {
  background-color: $green;
}

.header__btn--register {
  margin-left: 7px;

  background-color: $red;
}

.header__menu {
  background-color: $bg;
}

.menu__list {
  display: flex;
  align-items: center;
  height: 60px;

  .menu__list-item {
    margin-right: 30px;

    .menu__list-link {
      font-weight: 500; //not sure
      font-size: 14px;

      color: #fff;
    }
  }
}

.search {
  min-height: 533px;

  text-align: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;

  &__content {
    padding: 160px 0 100px;
  }

  &__title {
    margin-bottom: 28px;

    font-size: 48px;
    font-weight: 700;
  }

  &__text {
    margin-bottom: 50px;

    font-size: 20px;
  }

  &__form {
    position: relative;

    max-width: 670px;
    margin: 0 auto;
  }

  &__input {
    width: 100%;
    height: 56px;
    display: block;
    padding: 0 60px 0 25px;

    font-size: 14px;
    font-weight: 500;

    box-shadow: 0px 1px 10px 0px rgba($color: #7cb240, $alpha: .75);
    border-radius: 4px;
    border: none;

    &::placeholder {
      font-family: "Roboto", sans-serif;
      font-weight: 500;

      color: #90a4ae;
    }
  }

  &__btn {
    position: absolute;
    right: 20px;
    bottom: 18px;

    height: 21px;
    width: 21px;

    background: url(../images/icons/search.png) center center no-repeat;
    border: none;

  }
}

.products {
  padding: 110px 0;

  background-color: $grey;

  &__inner-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__inner-btns {
    margin-bottom: 60px;

    text-align: center;
  }

  &__inner-filter {
    margin-right: 5px;
    padding: 12px 21px;

    color: $bg;
    background-color: #fff;
    border: none;

    cursor: pointer;

    
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }

  &__item {
    max-width: 442px;
    width: 100%;
    margin-bottom: 30px;

    box-shadow: 0 1px 2px 0 rgba(205, 214, 222, .75);
  }

  &__item-img {
    display: block;
    min-height: 250px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    padding: 10px 30px;

    font-weight: 500;
  }

  &__item-name {
    display: block;
    max-width: 310px;
  }

  &__item-title {
    font-size: 18px;

    color: $bg;
  }

  &__item-category {
    display: block;

    font-size: 14px;

    color: $green;
  }

  &__item-price {
    font-weight: 700;
    font-size: 20px;

    color: $bg;
  }

  &__item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }

  &__item-author {
    display: flex;
    align-items: center;

    font-size: 14;
    font-weight: 500;
  }

  &__item-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 14px;

    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__inner-filter--bottom {
    margin: 45px 5px;
    padding: 15px 30px;

    font-size: 16px;

    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
  }
}

